
<!-- <angular4-notify-notifications-container></angular4-notify-notifications-container> -->
<router-outlet></router-outlet>

<simple-notifications></simple-notifications>
<!-- <simple-notifications [options]="notificationOptions"></simple-notifications> -->