

<ng-container *ngIf="rota === '/home'; then home else menu"></ng-container>
<ng-template #home>
    <img style="margin-right: -72em; margin-top: -23em; height: 5em;" src="../.././assets/produtor.png" alt="" placement="left"
      [ngbPopover]="popContent" popoverTitle="">
</ng-template>

<ng-template #menu>
    <img style="margin-right: -70em; height: 5em;" src="../.././assets/produtor.png" alt="" placement="left"
      [ngbPopover]="popContent" popoverTitle="">
</ng-template>



<!-- <img style="margin-right: -72em; margin-top: -24em; height: 5em;" src="../.././assets/produtor.png" alt="" placement="left"
  [ngbPopover]="popContent" popoverTitle=""> -->

<ng-template #popContent>Usuário: {{usuario}}
  <br/>
  <br/> SAIR
  <a (click)="logout()">
    <img src="../.././assets/logout.ico" style="height: 30px;">
  </a>
</ng-template>
