/*********************************************************************************/


/* Header                                                                        */


/*********************************************************************************/

#header {
  position: relative;
  padding: 5em 0em;
  text-align: center;
  background: #2a2f27 url(./assets/banner.jpg) no-repeat;
  background-size: cover;
}

.homepage #header {
  padding: 14em 0em;
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
}

#header .container {}


/*********************************************************************************/


/* Logo                                                                          */


/*********************************************************************************/

#logo {
  margin-bottom: 3em;
}

#logo h1 {
  color: #FFF;
}

#logo h1 a {
  display: block;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 900;
  color: #FFF;
}

#logo span {
  display: block;
  padding-top: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.2em;
  color: rgba(255, 255, 255, .5);
}


/*********************************************************************************/


/* Nav                                                                           */


/*********************************************************************************/

#nav {}

#nav>ul>li {
  display: inline-block;
}

#nav>ul>li:last-child {
  padding-right: 0;
}

#nav>ul>li>a,
#nav>ul>li>span {
  display: block;
  padding: 1em 1.5em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1em;
  outline: 0;
  color: rgba(255, 255, 255, 0.884);
  font-weight: 700;
}

#nav>ul>li>a:hover {
  color: #FFF;
  background-color: rgba(17, 17, 17, 0.64);
  border-radius: 10px;
}

#nav li.active a {
  background: none;
  border-radius: 10px;
  border: 3px solid;
  border-color: rgba(255, 255, 255, .8);
  color: #FFF;
  font-weight: bold;
  background-color: rgba(17, 17, 17, 0.28);
}

#nav>ul>li>ul {
  display: none;
}


/* Buttons */

.button {
  position: relative;
  display: inline-block;
  margin-top: 2em;
  padding: 0.90em 1.5em;
  background: #e95d3c;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1em;
  color: #FFF;
  -moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
  -webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
  -o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
  -ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
  cursor: pointer;
  width: 10em;
  text-align: center;
}

.button:hover {
  background: #de3d27;
  color: #FFF !important;
  border-radius: 10px;
}


/*********************************************************************************/


/* Login                                                                           */


/*********************************************************************************/

@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.login-page {
  height: 52em;
  padding: 8% 0 0;
  margin: auto;
  background: #2a2f27 url(./assets/riparazione.png) no-repeat;
  background-size: 100%;
}

body app-login-component {
  background: #2a2f27;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #43A047;
}

.message {
  background-color: rgba(0, 0, 0, 0.34);
  border-radius: 10px;
  border: 8px solid transparent;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

.container .info span a {
  color: #000000;
  text-decoration: none;
}

.container .info span .fa {
  color: #EF3B3A;
}


/*********************************************************************************/


/* Footer                                                                           */


/*********************************************************************************/

#myFooter {
  background-color: #3a3f46;
  color: white;
}

#myFooter .row {
  margin-bottom: 60px;
}

#myFooter .info{
  text-align: justify; 
  color: #afb0b1;
}

#myFooter ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
}

#myFooter h5 {
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
}

#myFooter .logo{
  margin-top: 10px;
}

#myFooter .second-bar .logo a{
  color:white;
  font-size: 28px;
  float: left;
  font-weight: bold;
  line-height: 68px;
  margin: 0;
  padding: 0;
}

#myFooter a {
  color: #d2d1d1;
  text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
  text-decoration: none;
  color: white;
}

#myFooter .second-bar {
  text-align: center;
  background-color: #33373e;
  text-align: center;
}

#myFooter .second-bar a {
  font-size: 22px;
  color: #9fa3a9;
  padding: 10px;
  transition: 0.2s;
  line-height: 68px;
}

#myFooter .second-bar a:hover {
  text-decoration: none;
}

#myFooter .social-icons {
  float:right;
  text-align: right;
}


#myFooter .facebook:hover {
  color: #0077e2;
}

#myFooter .google:hover {
  color: #ef1a1a;
}

#myFooter .twitter:hover {
  color: #00aced;
}

@media screen and (max-width: 767px) {
  #myFooter {
      text-align: center;
  }

  #myFooter .info{
      text-align: center;
  }
}



/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

html{
  height: 100%;
}

body{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 100%;
}

.content{
 flex: 1 0 auto;
 -webkit-flex: 1 0 auto;
 min-height: 200px;
}

#myFooter{
 flex: 0 0 auto;
 -webkit-flex: 0 0 auto;
}


/* =-=-=-=-==-=-=-=-==-=-=-=-==-=-=-=-==-=-=-=-==-=-=-=-==-=-=-=-==-=-=-=-==-=-=-=-= */

.header-compact {
  position: relative;
  padding: 2em 0em;
  text-align: center;
  background: #2a2f27 url(./assets/banner.jpg) no-repeat;
  background-size: cover;
  background-position: 0 -101px;
}

.rolagem {
  overflow-x: auto;
}

header h2 {
  font-size: 3em;
  color: #4c4c4c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: bold;
}

.padding {
  padding: 1em;
}

.margin-left {
  margin-left: 1em;
}

.ng-invalid[required].ng-dirty[required] {
  border: 1px solid red;
  background-color: rgba(255, 145, 145, 0.73);
}

.invalidaLogin {
  border: 1px solid red !important;
  background-color: rgba(255, 145, 145, 0.73);
}

.dataTable th {
  border-right: 3px solid #485767 !important;
}

.dataTable td {
  border: 2px solid #485767 !important;
}

.table-bordered {
  border: 5px solid #485767 !important;
}

thead {
  border-bottom: 5px solid #485767;
}

.form-control {
  border: 2px solid #8e8e8e !important;
}

.fundo {
  margin-top: -20px;
  background-color: rgba(85, 148, 78, 0.76) !important;
  border: 13px solid transparent;
}

div.row {
  margin-top: 20px;
}

.botao {
  background: #263146;
  border-color: #fff;
  color: #fff;
  width: 10em;
}

.centro {
  position: fixed;
  margin-left: 38%;
}

.espaco {
  margin-bottom: 20px;
}

.btn-voltar {
  width: 100px;
  height: 58px;
}

.btnG {
  height: 8em !important;
  width: 12em !important;
  margin-top: 3em;
  margin-bottom: 3em;
}

.usuario {
  float: right;
}

.popover {
  font-family: Stencil Std, fantasy !important; 
  font-size: 18px !important;
  background-color: rgba(255, 255, 255, 0.65) !important;
}
