<app-menu></app-menu>

<div class="container espaco">
	<div class="row">
		<div class="col-sm-12">
			<header>
				<h2>Entregas para Escola: {{escolaNome}}</h2>
			</header>

			<div class="row">
				<div class="col-md-4">
					<input *ngIf="config.filtering" placeholder="Filtro"
								 [ngTableFiltering]="config.filtering"
								 class="form-control" type="number"
								 (tableChanged)="onChangeTable(config)"/>
				</div>
			</div>
			<br>
			<div class="rolagem">
				<ng-table [config]="config"
					(tableChanged)="onChangeTable(config)"
					(cellClicked)="onCellClick($event)"
					[rows]="rows" [columns]="columns">
				</ng-table>
			</div>
			<br>
			<pagination *ngIf="config.paging"
									class="pagination-sm"
									[(ngModel)]="page"
									[totalItems]="length"
									[itemsPerPage]="itemsPerPage"
									[maxSize]="maxSize"
									[boundaryLinks]="true"
									[rotate]="false"
									(pageChanged)="onChangeTable(config, $event)"
									(numPages)="numPages = $event">
			</pagination>

			<button type="button" class="btn btn-secondary btn-voltar" (click)="goBack()">Voltar</button>
			<!-- <button (click)="novo()" class="button">Novo</button> -->

		</div>
	</div>
</div>