<div class="fundo">
  <div class="container">
    <form (ngSubmit)="onSubmit()" #entregaForm="ngForm" class="form-horizontal" action="">
      <header>
        <div class="row">
          <div class="col-sm-11">
            <h2>Cadastro de Entrega para Escola</h2>
          </div>
          <div class="col-sm-1">
            <app-icone></app-icone>
          </div>
        </div>
      </header>
      <fieldset align="center">
        <div class="form-group">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <label for="produto">Produto</label>
              <select class="custom-select form-control" name="produto" disabled
                [(ngModel)]="entrega.idProduto">
                <option *ngFor="let p of produtos" [ngValue]="p.idProduto">{{p.nome}}</option>
             </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <label for="produtor">Produtor</label>
              <select class="custom-select form-control" name="produtor" disabled
                [(ngModel)]="entrega.idProdutor">
                <option *ngFor="let p of produtores" [ngValue]="p.idProdutor">{{p.nome}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <label for="dataEntrega">Data Final de Entrega</label>
              <div class="form-group">
                <div class="input-group">
                  <!-- <input class="form-control" name="dp" 
                    [(ngModel)]="entrega.dataEntrega" 
                    [disabled]="!entrega.dataEntrega"
                    ngbDatepicker 
                    #d="ngbDatepicker">
                  <button class="input-group-addon" (click)="d.toggle()" type="button">
                    <img src=".././assets/img.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                  </button> -->
                  <input type="text" name="dataEntrega" class="form-control"
                    [minDate]="minDate"
                    [maxDate]="maxDate"
                    #dp="bsDatepicker"
                    [bsConfig]="bsConfig"
                    [(ngModel)]="entrega.dataEntrega"
                    bsDatepicker
                    disabled>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <label for="quantidade">Quantidade</label>
              <input class="form-control" name="quantidade" type="text"
                [(ngModel)]="entrega.quantidade"
                [textMask]="{mask: qtdMask}"
                disabled>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-secondary" (click)="goBack()">Voltar</button>
          <!-- <button type="submit" class="btn btn-primary margin-left" [disabled]="!entregaForm.form.valid">SALVAR</button> -->
        </div>
      </div>
    </form><br>
  </div>
</div>