<div class="login-page">
  <div class="centro">
    <div class="form fundo">
      <form class="login-form" #loginForm="ngForm">
        <input type="text" id="usuario" name="usuario" placeholder="usuário"
          [(ngModel)]="login.usuario"
          required>
        <input type="password" id="senha" name="senha" placeholder="senha"
          [(ngModel)]="login.senha"
          required>
        <button type="button" (click)="logar()" [disabled]="!loginForm.form.valid" style="background: #263146;">login</button>
        <p class="message">Não está registrado? <a routerLink="/cadastro">Crie uma conta</a></p>
      </form>
    </div>
  </div>
</div>