<div class="header-compact">
	<app-icone></app-icone>
	<div class="container">

		<!-- Logo -->
		<div id="logo">
			<h1>
				<a routerLink="/home"> Colheita Projetada</a>
			</h1>
		</div>

		<!-- Nav -->
		<nav id="nav">
			<ng-container *ngIf="tpUsuario; then administrador else usuario"></ng-container>
			<!-- Administrador -->
			<ng-template #administrador>
				<ul>
					<li [ngClass]="{'active': rota === '/escola'}">
						<a routerLink="/escola">Escola</a>
					</li>
					<li [ngClass]="{'active': rota === '/produto'}">
						<a routerLink="/produto">Produto</a>
					</li>
					<li [ngClass]="{'active': rota === '/produtor'}">
						<a routerLink="/produtor">Produtor</a>
					</li>
					<li [ngClass]="{
						'active': rota !== '/escola' && 
							rota !== '/produto' &&
							rota !== '/produtor'
						}">
						<a routerLink="/entrega">Entrega</a>
					</li>
				</ul>
			</ng-template>
					
					<!-- Produtor -->
			<ng-template #usuario>
				<ul>
					<li [ngClass]="{'active': rota === '/produtorDetalhe/save'}"><a routerLink="/produtorDetalhe/save">Detalhes</a></li>
					<li [ngClass]="{'active': rota === '/cronograma'}"><a routerLink="/cronograma">Cronograma</a></li>
					<!-- <li [ngClass]="{'active': rota === '/relatorioEntregas'}"><a routerLink="/relatorioEntregas">Relatorio de Entregas</a></li> -->
					<!-- <li [ngClass]="{'active': rota === '/entregasRealizadas'}"><a routerLink="/entregasRealizadas">Entregas Realizadas</a></li> -->
				</ul>
			</ng-template>
		</nav>
	</div>
</div>