<div class="fundo">
  <div class="container">
    <form (ngSubmit)="onSubmit()" #escolaForm="ngForm" class="form-horizontal" action="">
      <header>
        <div class="row">
          <div class="col-sm-11">
            <h2>Cadastro</h2>
          </div>
          <div class="col-sm-1">
            <app-icone></app-icone>
          </div>
        </div>
      </header>
      <fieldset>
        <legend>Identificação</legend>
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <label for="nome">Nome</label>
              <input class="form-control" name="nome" type="text"
                [(ngModel)]="escola.nome"
                required>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label for="email">E-Mail</label>
              <input class="form-control" name="email" type="text" placeholder="exemplo@email.com"
                [(ngModel)]="escola.email"
                [textMask]="{mask: emailMask, guide: false}"
                required>
            </div>
            <div class="col-md-4">
              <label for="telefone1">Telefone Principal</label>
              <input class="form-control" name="telefone1" type="text" placeholder="(99) 9999-9999"
                [(ngModel)]="escola.telefone1"
                [textMask]="{mask: maskTelefone, guide: false}"
                required>
            </div>
            <div class="col-md-4">
              <label for="telefone2">Telefone Secundário</label>
              <input class="form-control" name="telefone2" type="text" placeholder="(99) 9999-9999"
                [(ngModel)]="escola.telefone2"
                [textMask]="{mask: maskTelefone, guide: false}"
                required>
            </div>
          </div>
        </div>
      </fieldset>

      <!-- Endereco - Futuramente será em acordeon-->
      <div>
        <fieldset>
          <legend>Endereço</legend>
          <div class="row">
            <div class="col-md-6">
              <label for="rua">Rua </label>
              <input class="form-control" name="rua" type="text"
                [(ngModel)]="escola.rua"
                required>
            </div>
            <div class="col-md-6">
              <label for="bairro">Bairro </label>
              <input class="form-control" name="bairro" type="text"
                [(ngModel)]="escola.bairro"
                required>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label for="cidade">Cidade </label>
              <input class="form-control" name="cidade" type="text"
                [(ngModel)]="escola.cidade"
                required>
            </div>
            <div class="col-md-3">
              <label for="cep">CEP </label>
              <input class="form-control" name="cep" type="text"
                [(ngModel)]="escola.cep"
                [textMask]="{mask: maskCep, guide: false}"
                required>
            </div>
            <div class="col-md-2">
              <label for="numero">Número</label>
              <input class="form-control" name="numero" type="text"
                [(ngModel)]="escola.numero"
                [textMask]="{mask: numeroMask}"
                required>
            </div>
            <div class="col-md-3">
              <label for="uf">Estado </label>
              <select class="custom-select form-control" name="uf"
                [(ngModel)]="escola.uf"
                required>
                <option value="1">Acre</option>
                <option value="2">Alagoas</option>
                <option value="3">Amazonas</option>
                <option value="4">Bahia</option>
                <option value="5">Ceará</option>
                <option value="6">Distrito Federal</option>
                <option value="7">Espírito Santo</option>
                <option value="8">Maranhão</option>
                <option value="9">Mato Grosso</option>
                <option value="10">Mato Grosso do Sul</option>
                <option value="11">Minas Gerais</option>
                <option value="12">Pará</option>
                <option value="14">Paraíba</option>
                <option value="15">Paraná</option>
                <option value="16">Pernambuco</option>
                <option value="17">Piauí</option>
                <option value="18">Rio de Janeiro</option>
                <option value="19">Rio Grande do Norte</option>
                <option value="20">Rio Grande do Sul</option>
                <option value="21">Rondônia</option>
                <option value="22">Roraima</option>
                <option value="23">Santa Catarina</option>
                <option value="24">São Paulo</option>
                <option value="25">Sergipe</option>
                <option value="26">Tocantins</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label for="complemento">Complemento </label>
              <textarea class="form-control" name="complemento" id="complemento" cols="80" rows="10"
                [(ngModel)]="escola.complemento"
                required>
              </textarea>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-secondary" (click)="goBack()">Voltar</button>
          <button type="submit" class="btn margin-left botao" [disabled]="!escolaForm.form.valid">SALVAR</button>
       
          <ng-container *ngIf="router.url !== '/escola/save' ; then botao"></ng-container>
          
          <ng-template #botao>
            <button type="button" class="btn btn-danger margin-left" (click)="deletar()">Deletar</button>
          </ng-template>

          <!-- <ng-container *ngIf="router.url !== '/escola/save' ; then botao"></ng-container>
          
          <ng-template #botao>
            <button type="button" (click)="novo()" class="btn btn-warning margin-left" style="color: #fff;">Nova Entrega</button>
          </ng-template> -->
        </div>
      </div><br>
    </form>
  </div>
</div>