<div class="fundo">
  <div class="container">
    <form (ngSubmit)="onSubmit()" #produtoForm="ngForm" class="form-horizontal compact-form" action="">
      <header>
        <div class="row">
          <div class="col-sm-11">
            <h2>Cadastro</h2>
          </div>
          <div class="col-sm-1">
            <app-icone></app-icone>
          </div>
        </div>
      </header>
      <fieldset>
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="idProduto">Código</label>
              <input id="idProduto" class="form-control" name="idProduto" type="text"
                [(ngModel)]="produto.idProduto"
                disabled>
            </div>
            <div class="col-md-10">
              <label for="nome">Nome Produto</label>
              <input id="nome" class="form-control" name="nome" type="text"
                [(ngModel)]="produto.nome"
                required>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="diasIniProd">Dias para Iniciar a Colheita</label>
              <input id="diasIniProd" class="form-control" name="diasIniProd" type="text"
                [(ngModel)]="produto.diasIniProd"
                [textMask]="{mask: diasMask}"
                required>
            </div>
            <div class="col-md-3">
              <label for="diasFinProd">Dias para Finalizar a Colheita</label>
              <input id="diasFinProd" class="form-control" name="diasFinProd" type="text"
                [(ngModel)]="produto.diasFinProd"
                [textMask]="{mask: diasMask}"
                required>
            </div>
            <div class="col-md-3">
              <label for="sementePorKg">Semente/Kg</label>
              <input id="sementePorKg" class="form-control" name="sementePorKg" type="text"
                [(ngModel)]="produto.sementePorKg"
                [textMask]="{mask: sementeMask}"
                required>
            </div>
            <div class="col-md-3">
              <label for="valor">Preço/Kg</label>
              <input id="valor" class="form-control" name="valor" type="text"
                [(ngModel)]="produto.valor"
                [textMask]="{mask: precoMask}"
                required>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <label for="orientPlantio">Recomendação de Plantio</label>
              <textarea id="orientPlantio" class="form-control" name="orientPlantio" rows="6"
                [(ngModel)]="produto.orientPlantio"
                required></textarea>
            </div>
          </div>
        </div>

      </fieldset>
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-secondary" (click)="goBack()">Voltar</button>
          <button type="submit" class="btn btn-primary margin-left" [disabled]="!produtoForm.form.valid">SALVAR</button>
        
          <ng-container *ngIf="router.url !== '/produto/save' ; then botao"></ng-container>
          
          <ng-template #botao>
            <button type="button" class="btn btn-danger margin-left" (click)="deletar()">Deletar</button>
          </ng-template>
        </div>
      </div><br>
    </form>
  </div>
</div>