<div class="login-page">
  <div class="centro">
    <div class="form fundo">
      <form class="login-form" #cadastroForm="ngForm">
        <input type="text" name="nome" placeholder="Produtor"
          [(ngModel)]="cadastro.nome"
          required>
        <input type="password" name="senha" placeholder="Senha"
          [(ngModel)]="cadastro.senha"
          required>
        <input style="text-transform:uppercase" type="text" name="numDAP" placeholder="DAP"
          [(ngModel)]="cadastro.numDAP"
          [textMask]="{mask: dapMask}"
          required>
        <button type="button" (click)="cadastrar()" [disabled]="!cadastroForm.form.valid" style="background: #263146;">Criar</button>
        <p class="message">Já está registrado? <a routerLink="/login">Entrar em</a></p>
      </form>
    </div>
  </div>
</div>