
<div class="homepage">
  <div id="header">
      <app-icone></app-icone>
    <div class="container"> 
      
      <!-- Logo -->
      <div id="logo">
        <h1><a routerLink="/home">Colheita Projetada</a></h1>
        <span>Powered by Angular 4</span>
      </div>
      
      <!-- Nav -->
      <nav id="nav">
        <ng-container *ngIf="tpUsuario; then administrador else usuario"></ng-container>
        <!-- Administrador -->
        <ng-template #administrador>
          <ul>
            <li><a routerLink="/escola">Escola</a></li>
            <li><a routerLink="/produto">Produto</a></li>
            <li><a routerLink="/produtor">Produtor</a></li>
            <li><a routerLink="/entrega">Entrega</a></li>
          </ul>
        </ng-template>
            
            <!-- Produtor -->
        <ng-template #usuario>
          <ul>
            <li><a routerLink="/produtorDetalhe/save">Detalhes</a></li>
            <li><a routerLink="/cronograma">Cronograma</a></li>
            <!-- <li><a routerLink="/relatorioEntregas">Relatorio de Entregas</a></li> -->
            <!-- <li><a routerLink="/entregasRealizadas">Entregas Realizadas</a></li> -->
          </ul>
        </ng-template>
      </nav>
    </div>
  </div>
</div>